body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.header-section {
    text-align: center;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding: 200px;
}

h1 {
    color: aqua;
    font-size: 50px;
}

#header-p {
    color: rgb(190, 248, 0);
    margin-bottom: 50px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px;
    border-radius: 5px;
}

section {
    margin-bottom: 100px;
}

.donate {
    font-size: xx-large;
}

.donate-section {
    text-align: center;
}

.color {
    color: grey;
}

.donate-options {
    display: flex;
    margin-left: 425px;

}

.option-design {
    background-color: rgba(128, 128, 128, 0.083);
    margin-left: 5px;
    margin-right: 5px;
    padding: 25px 20px;
    text-align: center;
    border-radius: 5px;
}

#selected-option {
    background-color: rgba(128, 128, 128, 0.083);
    margin-left: 5px;
    margin-right: 5px;
    padding: 25px 15px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid rgba(255, 0, 0, 0.282);
    background-color: rgba(255, 0, 0, 0.092);
    color: rgba(255, 0, 0, 0.576);
}

#valuable-options {
    background-color: rgba(128, 128, 128, 0.083);
    margin-left: 5px;
    margin-right: 5px;
    padding: 25px 15px;
    border-radius: 5px;
    text-align: center;
    color: grey;
}

.input-area {
    text-align: center;

}

input {
    border: none;
    outline: none;
    font-size: large;
    border-bottom: 1px solid rgba(128, 128, 128, 0.227);
    width: 800px;
    text-align: center;
}

.donate-button {
    text-align: center;
    margin-top: 30px;

}

.donate-plan-area {
    text-align: center;
}

.all-donation-plans {
    display: flex;
    margin-left: 60px;
}

#food-section {
    background-color: aliceblue;
    margin-left: 5px;
    margin-right: 5px;
    height: 200px;
    width: 350px;
    padding: 30px 20px;
    border-radius: 5px;
}

#shelter-section {
    background-color: antiquewhite;
    margin-left: 5px;
    margin-right: 5px;
    height: 200px;
    width: 350px;
    padding: 30px 20px;
    border-radius: 5px;

}

#education-section {
    background-color: azure;
    margin-left: 5px;
    height: 200px;
    width: 350px;
    padding: 30px 20px;
    border-radius: 5px;

}

.donation-list {
    text-align: center;
    margin-bottom: 10px;
}

.donar-list {
    display: flex;
    background-color: beige;
}

.name-and-amount {
    margin-left: 370px;
}

.subscribe-section {
    text-align: center;
    margin-bottom: 100px;
}

.email-input-area {
    text-align: center;
    border: 0px solid goldenrod;
    padding: 80px 10px;
    background-color: rgb(138, 138, 115);
    width: 950px;
    border-radius: 5px;
    margin-left: 170px;
}

.email-input {
    padding: 7px;
    border-radius: 5px;
}

#footer-section {
    color: rgb(255, 34, 34);
    font-size: xx-large;
    margin-bottom: 10px;
}

.footer-area {
    text-align: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

small {
    color: white;
}